@model WebApp.Models.StatsViewModel
@{
    ViewBag.Title = "Index";
}
@using System.Linq; 
    <div class="text-center">
        <h2>AllStats</h2>


        <p>
            Students Count is:
            @Html.DisplayFor(x => Model.StudentsCount)
        </p>

        <p>
            Students Average Age is:
            @Html.DisplayFor(x => Model.AgeAverage)
        </p>

        <p>
            Students with Age greater than 30 years old are:
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.StudentsWithAgeGreaterThan30)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => student.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => student.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => student.Age)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </p>
        <p>
            Students with Average Mark greater than 80 are:
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.StudentsWithAgeGreaterThan30)
                    {
                       <tr>
                          <td>
                              @Html.DisplayFor(x => student.FirstName)
                          </td>
                         <td>
                              @Html.DisplayFor(x => student.LastName)
                         </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </p>






    </div>
